
<section class="mx-5 mb-5">
  <h1 class="text-2xl font-bold">Pipes No Tan Comunes</h1>
  <h3 class="text-xl font-thin">Pipes incluidos en Angular</h3>
</section>

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">

  <app-card title="i18nSelectPipe">
    <p>Saludos {{ client().gender | i18nSelect:invitationMap }} {{client().name}}, es un placer invitarle a nuestro evento.</p>

    <button class="btn btn-primary" (click)="changeClient()" >Cambiar Cliente</button>
  </app-card>

  <app-card title="i18nPluralPipe">
    <p>
      Actualmente {{clients().length | i18nPlural: clientsMap()}} esperando.
    </p>

    <button
    [disabled]="clients().length === 0"
    class="btn btn-primary"
    (click)="deleteClient()" >Borrar Cliente</button>
  </app-card>

  <app-card title="SlicePipe">

    <b>Original</b>
    <p class="text-primary">
      {{ clients().join(', ') }}
    </p>

    <b class="mt-2">Slice:0:2</b>
    <p class="text-primary">
      {{ clients() | slice:0:2 }}
    </p>

    <b class="mt-2">Slice:0:-3</b>
    <p class="text-primary">
      {{ clients() | slice:0:-3 }}
    </p>

  </app-card>

  <app-card title="JSONPipe">

    <pre class="text-primary">{{ clients() | json}}</pre>
    <pre class="text-primary">{{ client() | json }}</pre>
    <p class="text-primary">{{ clients().join(", ") | json }}</p>

  </app-card>

  <app-card title="KeyValuePipe">

    <!--<pre>{{ profile | keyvalue | json }}</pre>-->

    <ul>
      @for (item of profile | keyvalue; track $index) {
        <li>
        <strong class="text-primary">{{item.key | titlecase}}</strong>
        <span>
          {{item.value}}
        </span>
      </li>
      }
    </ul>

  </app-card>

</div>

