<section class="mx-5">
  <h1 class="text-2xl font-bold">Pipes Básicos</h1>
  <h3 class="text-xl font-thin">Pipes incluidos en Angular</h3>
</section>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">LowerCase Pipe:</div>
    <div class="stat-value">{{nameUpper() | lowercase}}</div>
    <div class="stat-desc">Valor original: {{nameUpper()}}</div>
  </div>

  <div class="stat">
    <div class="stat-title">UpperCase Pipe:</div>
    <div class="stat-value">{{nameLower() | uppercase }}</div>
    <div class="stat-desc">Valor original: {{nameLower()}}</div>
  </div>

  <div class="stat">
    <div class="stat-title">TitleCase Pipe:</div>
    <div class="stat-value">{{fullName() | titlecase }}</div>
    <div class="stat-desc">Valor original: {{fullName()}}</div>
  </div>
</div>

<div class="divider"></div>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Date Pipe:</div>
    <div class="stat-value">{{ customDate() | date }}</div>
    <div class="stat-desc">Valor original: {{customDate()}}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Date | long| GMT-6:</div>
    <div class="stat-value">{{ customDate() | date : 'long' : 'GMT-6' }}</div>
    <div class="stat-desc">Valor original: {{customDate()}}</div>
  </div>

</div>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Date Custom: 'dd/MM/yyyy'</div>
    <div class="stat-value">{{ customDate() | date: 'dd/MM/yyyy' }}</div>
    <div class="stat-desc">Valor original: {{customDate()}}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Date | short| GMT+2:</div>
    <div class="stat-value">{{ customDate() | date : 'short' : 'GMT+2' }}</div>
    <div class="stat-desc">Valor original: {{customDate()}}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Date: 'EEEE d, MMMM HH:mm:ss'</div>
    <div class="stat-value">{{ customDate() | date : 'EEEE d, MMMM HH:mm:ss' }}</div>
    <div class="stat-desc">Valor original: {{customDate()}}</div>
  </div>

</div>
